<div class="container__carousel">
    <h2>Carousel</h2>
    <div class="image_carousel" style="display:flex; justify-content: center;">
        <button class="prevBannerButton" (click)="voltarImagemManualmente()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path
                    d="M480-529 324-373q-11 11-28 11t-28-11q-11-11-11-28t11-28l184-184q6-6 13-8.5t15-2.5q8 0 15 2.5t13 8.5l184 184q11 11 11 28t-11 28q-11 11-28 11t-28-11L480-529Z" />
            </svg>
        </button>
        <img id="image1" [src]="currentImage" alt="">
        <button class="nextBannerButton" (click)="avancarImagemManualmente()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path
                    d="M480-529 324-373q-11 11-28 11t-28-11q-11-11-11-28t11-28l184-184q6-6 13-8.5t15-2.5q8 0 15 2.5t13 8.5l184 184q11 11 11 28t-11 28q-11 11-28 11t-28-11L480-529Z" />
            </svg>
        </button>
    </div>
</div>