<main>
    <div class="loading">
        <div class="loader"></div>
    </div>

    <body>
        <section class="_content">
            <div class="top_header_space"></div>
            <section class="_head">
                <app-sidebar></app-sidebar>
            </section>
            <div class="title_propDays_desktop">
                <h1>Cálculo dos dias proporcionais</h1>
            </div>
            <section class="main">
                <section class="_calculatorPropDays">
                    <div class="calculator">
                        <div class="startDate">
                            <label for="">Data do início do contrato</label>
                            <input type="date" id="dateInput">
                        </div>
                        <div class="dueDay">
                            <label for="">Dia do vencimento</label>
                            <select id="dynamicSelect">Dia</select>
                        </div>
                        <div class="rent">
                            <label for="">Valor do Aluguel</label>
                            <input type="text" id="rentPropDay" placeholder="R$ 4500,00">
                        </div>
                        <div class="space"></div>
                    </div>
                </section>
                <section class="result">
                    <h1>Resultado:</h1>
                    <div class="resultado">
                        <h1>{{ resultPropDays ? 'R$ ' + (resultPropDays | number: '.2') : '' }}</h1>
                    </div>
                </section>
            </section>
        </section>
            <div class="button_propDays">
                <button (click)="calcularPropDays()">Calcular</button>
            </div>
        
    </body>
</main>