<main>
    <div class="menu">
        <img id="list_branca" src="../../assets/list_branca.svg" alt="" (click)="openSideBar()">
        <img id="logo_branca" src="../../assets/logoImobzi.svg" alt="">
        <div id="space"></div>
    </div>

    <div class="title_back">
        <img src="../../assets/back.svg" alt="" routerLink="/home">
        <h1>Histórico</h1>
        <div id="space"></div>
    </div>

    <section class="history_container">
        <div class="lastNumber">
            <h1>{{ valorFinal | number: '.2' }}</h1>
        </div>

        <div *ngFor="let item of reverseHistory()">
            <h2>{{ item | number: '.2' }}</h2>
            <hr>
        </div>

    </section>
</main>