@media(min-width: 576px) {
    
    ._head {
        display: flex;
    }

    .menu {
        display: none;
    }

    #spaceTitle {
        width: 32px;
        height: 32px;
        background-color: red;
    }

    .title_back {
        display: none;
    }

    .title_history {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 32px;
        margin-left: 16px;
    }

    .title_history .trashCan img {
        width: 36px;
        height: 36px;
        margin-left: 32px;
    }

    .title_history .trashCan img:hover {
        cursor: pointer;
    }

    .title_history {
        margin-right: 32px;
    }
    
    .title_history h1 {
        font-family: 'Helvetica', sans-serif;
        font-weight: 500;
        font-size: 28px;
        color: #0194A6;
    }

    .title_history .buttons {
        display: flex;
        align-items: center;
    }

    #novoCalculo {
        width: 156px;
        height: 40px;
        background-color: #0092A5;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        color: #EAEAEA;
        transition: .5s;
    }

    #novoCalculo:hover {
        cursor: pointer;
        background-color: #02DEDA;
        color: #015965;
        transition: .5s;
    }

    .lastNumber img {
        display: none;
    }

    .pastHistory img {
        display: none;
    }

    .lastNumber h1 {
        display: flex;
    }

    .pastHistory h2 {
        display: flex;
    }
}