<main id="main">
    <div id="loading_screen">
      <img id="logo" src="../assets/logoImobzi.svg" alt="">
      <img id="loading_screen_logo_desktop" src="../../assets/logo_colorida.svg" alt="">
    </div>
    <div class="inputName">
      <span class="inputLogo">
        <img id="login_logo" src="../assets/logoImobzi.svg" alt="">
      </span>
      <span class="inputLogoDesktop">
        <img id="logo_desktop" src="../../assets/logo_colorida.svg" alt="">
      </span>
      <span class="inputText">
        <input id="name" type="text" placeholder="Digite seu nome">
        <button id="access" (click)="validateName()" >Acessar</button>
      </span>
    </div>
</main>