<main id="main">
  <div id="loading_screen">
    <img id="logo" src="../assets/logoImobzi.svg" alt="">
    <img id="loading_screen_logo_desktop" src="../../assets/logo_colorida.svg" alt="">
  </div>
  <div class="inputName">
    <span class="inputLogo">
      <img id="login_logo" src="../assets/logoImobzi.svg" alt="">
    </span>
    <span class="inputLogoDesktop">
      <img id="logo_desktop" src="../../assets/logo_colorida.svg" alt="">
    </span>
    <span class="inputText">
      <div class="inputLogin">
        <input [(ngModel)]="user.email" id="email" type="email" placeholder="E-mail">
        <input [(ngModel)]="user.password" id="password" type="password" placeholder="Senha">
      </div>



      <!-- <a class="forgetPassword" routerLink="">Esqueceu a senha?</a> -->
      <div class="access">
        <button id="access" (click)="login()">Acessar</button>
      </div>

      <div class="createAccount">
        <p>Não tem uma conta? <a routerLink="/register">Crie uma</a></p>
      </div>
    </span>
  </div>
</main>