<main>
    <section class="_content_calculator_history">
        <div class="irrf">
            <div class="images">
                <img id="_history" src="../../assets/history.svg" alt="">
                <img id="irrf" src="../../assets/irrf.svg" alt="">
            </div>
            <div class="info">
                <h1>IRRF</h1>
                <h2>R$ {{ lastCalc ? lastCalc : '0,00' }}</h2>
            </div>
        </div>
        <div class="multas">
            <div class="images">
                <img id="_history" src="../../assets/history.svg" alt="">
                <img id="multa" src="../../assets/multa.svg" alt="">
            </div>
            <div class="info">
                <h1>Em breve</h1>
                <h2>Em breve</h2>
            </div>
        </div>
        <div class="dias">
            <div class="images">
                <img id="_history_days" src="../../assets/history.svg" alt="">
                <img id="dias" src="../../assets/dias.svg" alt="">
            </div>
            <div class="info">
                <h1>Dias proporcionais</h1>
                <h2>R$ 0,00</h2>
            </div>
        </div>
    </section>
</main>
