main {
    background-color: #0092A5; //006C96
    color: #fff; 
    width: 200px; 
    height: 94.7%; 
    padding: 20px; 
}

#sideBar {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.profileSidebar {
    background-image: url("../../assets/predios.jpeg");
    background-position: 0px;
    background-size: cover;
    width: 112%;
    padding-block: 4px;
    padding-left: 16px;
    margin-left: -10%;
}

.profileInfoSidebar {
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    background-color: rgb(0, 0, 0, 50%);
    padding-block: 8px;
    padding-left: 2rem;
    margin-left: -10%;
    margin-block: -4px;
}

.profileInfoSidebar h1 {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.profileInfoSidebar svg {
    margin-left: -16px;
    padding-right: 8px;
    fill: #eaeaea;
}

#sideBar img {
    margin-bottom: 16px;
}

#sideBar img:hover {
    cursor: pointer;
}

.menuOptions ul {
    margin-left: -32px;
    list-style-type: none;
    
}

.menuOptions button {
    display: flex;
    align-items: center;
    border-radius: 4px;
    width: 100%;
    height: 48px;
    border: none;
    background: none;
}

.menuOptions button>svg {
    padding-right: 8px;
    fill: #eaeaea;
}

.menuOptions button:hover {
    background-color: #eaeaea; /* Cor de fundo ao passar o mouse */
    color: #0092A5;
}

.menuOptions button:hover svg {
    fill: #0092A5;
}

.menuOptions ul li {
     margin-bottom: 10px; /* Espaçamento entre os itens da lista */
}

.menuOptions ul li button {
    text-decoration: none; /* Remove sublinhado dos links */
    color: #eaeaea; /* Cor do texto dos links */
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
}

.menuOptions ul li button:hover {
    color: #0092A5;
    transition: .2s;
    cursor: pointer;
}
