<main>
    <section id="sideBar">
        <img id="logo_imobzi" src="../../assets/logo_imobzi.svg" alt="">
        <div class="buttons">

<!-- Botoes de home -->

            <button id="home" [ngStyle]="{ display: isHome ? 'none' : 'flex'}">
                <img src="../../assets/home.svg" alt="">
                <h1>Home</h1>
            </button>            
            <button id="home_clicked" [ngStyle]="{ display: isHome ? 'flex' : 'none'}">
                <img src="../../assets/home_hover.svg" alt="">
                <h1>Home</h1>
            </button>

<!-- Botoes de Calculadora -->

            <button id="calculator" [ngStyle]="{ display: isCalc ? 'none' : 'flex'}">
                <img src="../../assets/calculator.svg" alt="">
                <h1>Calculadora</h1>
            </button>
            <button id="calculator_clicked" [ngStyle]="{ display: isCalc ? 'flex' : 'none'}">
                <img src="../../assets/calculator_hover.svg" alt="">
                <h1>Calculadora</h1>
            </button>

<!-- Botoes de Tarefas -->

            <button id="tasks" [ngStyle]="{ display: istask ? 'none' : 'flex'}">
                <img src="../../assets/calendar.svg" alt="">
                <h1>Tarefa</h1>
            </button>
            <button id="tasks_clicked" [ngStyle]="{ display: istask ? 'flex' : 'none'}">
                <img src="../../assets/calendar_hover.svg" alt="">
                <h1>Tarefa</h1>
            </button>

<!-- Botoes de Conhecimento -->

            <button id="know" [ngStyle]="{ display: isKnow ? 'none' : 'flex'}">
                <img src="../../assets/calendar.svg" alt="">
                <h1>Conhecimento</h1>
            </button>
            <button id="know_clicked" [ngStyle]="{ display: isKnow ? 'flex' : 'none'}">
                <img src="../../assets/calendar_hover.svg" alt="">
                <h1>Conhecimento</h1>
            </button>
        </div>
        <div class="settings">
            <button><img src="../../assets/settings.svg" alt=""><h1>Configurações</h1></button>
        </div>
    </section>
</main>