<main>
    <div class="background"></div>
    <div class="loading">
        <div class="loader"></div>
    </div>
    <section class="_content_desktop">
        <div class="top_header_space"></div>
    <section class="_head">
        <app-sidebar></app-sidebar>
    </section>

    
    <section class="_doubts_content">
        <div class="title_doubts">
            <h1>Dúvidas frequentes</h1>
            <div class="space"></div>
        </div>
        <!-- <div class="nothingSelected" *ngIf="filterDocuments.length === 0">
            <div class="title_nothingSelected">
                <h1>Em que posso te ajudar?</h1>
                <p>Selecione um dos setores ao lado para verificar suas respectivas documentações.</p>
            </div>
            <div class="image_nothingSelected">
                <img src="../../assets/doubts_icon.png" alt="">
            </div>
        </div> -->
        <div class="items">
            <div class="item" *ngFor="let item of documents">
                <span class="main_info">
                    <h2>{{ item.name.slice(0, -1).join(' ') + item.name[item.name.length - 1].replace(',', '') }}</h2>
                    <h3>{{ item.category}}</h3>
                    <p [innerHTML]="formatContent(item.content, 100)"></p>
                    <button [routerLink]="['/frequently-doubts/doubts', item.id]" >Ver mais</button>
                </span>
                <hr>
                <span class="icon">
                    <img src="../../assets/book.svg" alt="">
                </span>
            </div>
        </div>
    </section>
    <!-- <div class="button_to_scroll_top">
        <button><img src="../../assets/arrow-up.svg" alt=""></button>
    </div> -->
    </section>
</main>
