@media(min-width: 576px){

    ._content_desktop {
        position: absolute;
        top: 0%;
        margin-left: -8px;
        padding-top: 64px;
        padding-bottom: 56px;
        width: 100%;
        background-color: #EDF2F5;
    }

    app-sidebar {
        z-index: 1;
    }

    ._head {
        position: absolute;
        top: 5.35%;
        margin-left: -8px;
        background-color: #EDF2F5;
    }

    .top_header_space {
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: 1;
        width: 100%;
        height: 64px;
        background-color: #fff;
    }

    .main_section {
        margin-left: 16rem;
        margin-right: 16rem;
    }

    .main_section label {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 18px;
        color: #0194A6;
    }

    .main_section input {
        font-size: 16px;
    }

    input[type="radio"] {
        display: none;
      }
      
      .optionSimplifiedDiscount, .optionAdmFee {
        display: flex;
      }

      label .spanForRadio {
        display: flex;
        align-items: center;
      }

      .optionAdmFee .spanForRadio {
        display: flex;
      }
      
      .custom_radio {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #0092A5;
        display: inline-block;
        box-sizing: border-box;
        margin-left: 4px;
        margin-right: 4px;
      }

      .custom_radio:hover {
        cursor: pointer;
      }
      
      input[type="radio"]:checked + .spanForRadio .custom_radio {
        background-color: #0092A5;
        box-shadow: inset 0 0 0 3px #eaeaea;
      }
    
    .main_section #rent, #recipient {
        width: 340px;
        height: 42px;
        border: none;
        border-radius: 4px;
        background-color: #fff;
        margin-top: 4px;
        padding-left: 16px;
    }

    .main_section #rent::placeholder, #recipient::placeholder, #admFee::placeholder {
        opacity: 50%;
    }

    .simplifiedDiscount {
        display: flex;
        justify-content: space-between;
        padding-inline: 16px;
        font-size: 20px;
    }

    .admFee {
        display: flex;
        justify-content: space-between;
        padding-inline: 16px;
        font-size: 20px;
    }

    #titleAdmFeeDesktop {
        display: flex;
    }

    #titleAdmFee {
        display: none;
    }

    .button_calcular {
        display: flex;
        justify-content: center;
        margin-top: 32px;
    }
    
    #_calcular {
        width: 212px;
        height: 46px;
        background-color: #0092A5;
        border: none;
        border-radius: 8px;
        color: #EAEAEA;
        font-size: 18px;
        letter-spacing: 1px;
        transition: .2s;
    }

    .button_calcular #_calcular:hover {
        background-color: #02DEDA;
        color: #0092A5;
        cursor: pointer;
        transition: .2s;
    }
}