@media(min-width: 576px) {

    main {
        position: absolute;
        margin-left: -8px;
        height: 100vh;
        width: 100%;
        background-color: #EDF2F5;
    }

    app-sidebar {
        position: absolute;
        top: -6.5%;
    }

    ._content {
        position: absolute;
        top: 10%;
        left: 17%;
        padding-top: 48px;
        padding-bottom: 180px;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        color: #414042;
        background-color: #fff;
    }

    ._content h1 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: -16px;
    }

    ._content h2 {
        font-size: 24px;
        font-weight: 500;
    }

    ._content img {
        width: 96px;
        height: 96px;
        padding-bottom: 64px;
    }

    ._head {
        margin-top: 32px;
    }

    .top_header_space {
        position: fixed;
        top: 0%;
        left: 0%;
        z-index: 1;
        width: 100%;
        height: 64px;
        background-color: #fff;
    }

    .information {
        display: flex;
        flex-direction: column;
        margin-left: -54rem;
    }
}