<main>
    <div class="loading">
        <div class="loader"></div>
    </div>
    <section class="main_content">
        <section class="_head">
            <div class="top_header_space"></div>
            <app-sidebar></app-sidebar>
        </section>
        <section class="doc_content">
            <div class="_title">
                <img src="../../assets/back.svg" alt="" routerLink="/frequently-doubts">
                <h1>{{ document?.name.slice(0, -1).join(' ') + document?.name[document?.name.length - 1].replace(',', '') }}</h1>
                <div class="space"></div>
            </div>
            <div class="_content" *ngFor="let item of document?.content">
                <p>
                    {{ item.text }}
                </p>
                <img *ngIf="item.image_url" [src]="item.image_url" alt="Image">
                <p>
                    {{ item.URL }}
                </p>
            </div>
        </section>
    </section>
</main>