<main>
    <div class="loading">
        <div class="loader"></div>
    </div>
    <section class="_head">
        <img id="list" src="../../assets/list_colored.svg" alt="">
        <img id="logo_colorida" src="../../assets/logo_colorida.svg" alt="" routerLink="/home">
        <div class="navigation">
            <nav>
                <a routerLink="/home" id="menuLink">Home</a>
                <a routerLink="/history" id="menuLink">Histórico</a>
                <a href="" id="menuLink">Perfil</a>
            </nav>
        </div>
        <div id="space"></div>
    </section>
    <hr>

    <section class="doc_content">
        <div class="_title">
            <img src="../../assets/back.svg" alt="" routerLink="/frequently-doubts">
            <h1>{{ document?.name }}</h1>
            <div class="space"></div>
        </div>
        <div class="_content" *ngFor="let item of document?.content">
            <p>
                {{ item.text }}
            </p>
            <img *ngIf="item.image_url" [src]="item.image_url" alt="Image">
        </div>
    </section>
</main>