@media(min-width: 576px) {

    .calculator,
    .tasks,
    .knowleadge {
        display: flex;
        flex-direction: column;
        margin-bottom: 8px;
    }

    .calculatorOptions,
    .tasksOptions,
    .knowledgeOptions {
        display: flex;
        margin-top: 16px;
        margin-left: 4%;
    }

    .calculator .title_desktop h1,
    .tasks .title_desktop h1,
    .knowleadge .title_desktop h1 {
        margin-left: 4%;
        font-family: 'Helvetica', sans-serif;
        font-weight: 500;
        font-size: 22px;
        color: #0194A6;
        margin-bottom: -8px;
    }

    .calculatorOptions button,
    .tasksOptions button,
    .knowledgeOptions button {
        font-family: 'Roboto', sans-serif;
        margin-right: 16px;
        font-weight: 300;
    }

    .irrfButton {
        background-image: url(../../assets/background_irrf.svg);
        background-size: cover;
        width: 292px;
        height: 114px;
        border: none;
        font-size: 28px;
        color: #eaeaea;
        letter-spacing: 1px;
        border-radius: 8px;
        transition: .7s;
    }

    .irrfButton:hover {
        background-image: url('../../assets/background_irrf_hover.svg');
        color: #015965;
        transition: .7s;
        cursor: pointer
    }

    .multaButton {
        background-image: url(../../assets/backgoround_multas.svg);
        background-size: cover;
        width: 292px;
        height: 114px;
        border: none;
        font-size: 28px;
        color: #eaeaea;
        letter-spacing: 1px;
        border-radius: 8px;
        transition: .7s;
    }

    .multaButton:hover {
        background-image: url('../../assets/background_multas_hover.svg');
        color: #015965;
        transition: .7s;
        cursor: pointer
    }

    .propButton {
        background-image: url(../../assets/background_dias.svg);
        background-size: cover;
        width: 292px;
        height: 114px;
        border: none;
        font-size: 28px;
        color: #eaeaea;
        letter-spacing: 1px;
        border-radius: 8px;
        transition: .7s;
    }

    .propButton:hover {
        background-image: url('../../assets/background_dias_hover.svg');
        color: #015965;
        transition: .7s;
        cursor: pointer;
    }

    .createTaskButton {
        background-image: url(../../assets/create_task.svg);
        background-size: cover;
        background-position: .3px;
        width: 364px;
        height: 114px;
        border: none;
        font-size: 28px;
        color: #eaeaea;
        letter-spacing: 1px;
        border-radius: 8px;
        transition: .7s;
    }

    .createTaskButton:hover {
        background-image: url('../../assets/create_task_hover.svg');
        color: #015965;
        transition: .7s;
        cursor: pointer;
    }

    .seeTaskButton {
        background-image: url(../../assets/see_task.svg);
        background-size: cover;
        background-position: .3px;
        width: 364px;
        height: 114px;
        border: none;
        font-size: 28px;
        color: #eaeaea;
        letter-spacing: 1px;
        border-radius: 8px;
        transition: .7s;
    }

    .seeTaskButton:hover {
        background-image: url('../../assets/see_tasks_hover.svg');
        color: #015965;
        transition: .7s;
        cursor: pointer;
    }

    .doubts {
        background-image: url('../../assets/doubts.svg');
        background-size: cover;
        background-position: 0px -10px;
        width: 416px;
        height: 114px;
        border: none;
        font-size: 28px;
        color: #eaeaea;
        letter-spacing: 1px;
        border-radius: 8px;
        transition: .7s;
    }

    .doubts:hover {
        background-image: url('../../assets/doubts_hover.svg');
        color: #015965;
        transition: .7s;
        cursor: pointer;
    }

    .procedure {
        background-image: url('../../assets/proceed.svg');
        background-size: cover;
        width: 416px;
        height: 114px;
        border: none;
        font-size: 28px;
        color: #eaeaea;
        letter-spacing: 1px;
        border-radius: 8px;
        transition: .7s;
    }

    .procedure:hover {
        background-image: url('../../assets/proceed_hover.svg');
        color: #015965;
        transition: .7s;
        cursor: pointer;
    }
}