@media(min-width: 576px) {

    ._content {
        display: none;
    } 

    ._content_desktop {
        display: block;
        margin-top: -16px;
    }

    #list {
        display: none;
    }

    #menuLink {
        position: relative;
        color: #0092A5;
        /* Cor do texto */
        text-decoration: none;
        /* Remover o sublinhado padrão do link */
    }

    #menuLink::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #0092A5;
        /* Cor da linha */
        transition: width 0.3s ease;
        /* Transição suave da largura */
    }

    #menuLink:hover::before {
        width: 100%;
        /* Largura da linha ao passar o mouse */
    }

    #space {
        display: none;
    }

    ._body .title h1 {
        font-size: 20px;
    }
    
    ._body .title h2 {
        font-size: 20px;
    }

    ._body hr {
        width: 84rem;
        height: 1px;
        display: flex;
        justify-content: center;
        background-color: #0092A5;
        border-radius: 50%;
    }

    .image_home_screen {
        display: flex;
        margin: 0px;
    }

    .image_home_screen img {
        width: 394px;
        height: 256px;
    }

    .subtitle h1 {
        font-size: 24px;
    }

    .help_title h1 {
        font-size: 24px;
    }

    #calcularIrrf {
        width: 24rem;
        height: 51px;
        border-radius: 8px;
        border: none;
        background-color: #0194A6;
        color: #f3f3f3;
        letter-spacing: 2px;
    }

    #acessarFaq {
        width: 24rem;
        height: 51px;
        border-radius: 8px;
        border: none;
        background-color: #0194A6;
        color: #f3f3f3;
    }

    #calcularIrrf:hover,
    #acessarFaq:hover {
        cursor: pointer;
        background-color: #02DEDA;
        transition: .2s;
    }
}