<main>
    <section class="homePage">
        <section class="_head">
            <div class="top_header_space"></div>
            <app-sidebar></app-sidebar>
        </section>
        <section class="_body">
            <div class="title">
                <h1>Seja Bem-vindo, <b>{{ userName }}</b></h1>
            </div>
    
            <section class="_content_desktop">
                <div class="_calculator_history">
                    <app-calculator-history></app-calculator-history>
                <!--<div class="title_desktop">
                        <h1>Calculadora</h1>
                    </div>
                    <div class="calculatorOptions">
                        <button class="irrfButton" routerLink="/irrf">IRRF</button>
                        <button class="multaButton" (click)="waitForUpdate()">Multas & Juros</button>
                        <button class="propButton" routerLink="/proportional-days">Dias proporcionais</button>
                    </div> -->
                </div>
                <div class="tasks">
                    <div class="title_desktop">
                        <h1>Gerenciador de tarefas</h1>
                    </div>
                    <div class="tasksOptions">
                        <button class="createTaskButton">Criar tarefa</button>
                        <button class="seeTaskButton" (click)="waitForUpdate()">Ver tarefas</button>
                    </div>
                </div>
                <div class="knowleadge">
                    <div class="title_desktop">
                        <h1>Conhecimento do Suporte</h1>
                    </div>
                    <div class="knowledgeOptions">
                        <button class="doubts" routerLink="/frequently-doubts">Dúvidas frequentes</button>
                    </div>
                </div>
            </section>
        </section>
    </section>
</main>