@media(min-width: 576px) {

    main {
        position: absolute;
        margin-left: -8px;
        height: 110vh;
        width: 100%;
        background-color: #EDF2F5;
    }

    .homePage {
        display: flex;        
    }

    ._calculator_history {
        margin-left: 24px;
    }

    .table {
        margin-top: 16px;
    }

    ._head {
        margin-top: 32px;
    }

    .top_header_space {
        position: fixed;
        top: 0%;
        left: 0%;
        z-index: 100;
        width: 100%;
        height: 64px;
        background-color: #fff;
    }

    ._content {
        display: none;
    } 

    ._content_desktop {
        display: block;
        margin-top: 24px;
    }

    ._body {
        margin-top: 48px;
        margin-left: 232px;
        z-index: 1;
    }

    ._body .title h1 {
        font-size: 24px;
        font-weight: 300;
    }
    
    ._body .title h2 {
        font-size: 20px;
    }

    ._body .title b {
        font-weight: 500;
    }
}